../0x07-pointers_arrays_strings/0-main.c
../0x07-pointers_arrays_strings/0-memset
../0x07-pointers_arrays_strings/1-main.c
../0x07-pointers_arrays_strings/1-memcpy
../0x07-pointers_arrays_strings/100-main.c
../0x07-pointers_arrays_strings/100-set_string
../0x07-pointers_arrays_strings/2-main.c
../0x07-pointers_arrays_strings/2-strchr
../0x07-pointers_arrays_strings/3-main.c
../0x07-pointers_arrays_strings/3-strspn
../0x07-pointers_arrays_strings/4-main.c
../0x07-pointers_arrays_strings/4-strpbrk
../0x07-pointers_arrays_strings/5-main.c
../0x07-pointers_arrays_strings/5-strstr
../0x07-pointers_arrays_strings/7-main.c
../0x07-pointers_arrays_strings/7-print_chessboard
../0x07-pointers_arrays_strings/8-main.c
../0x07-pointers_arrays_strings/8-print_diagsums
0-main.c
0-memset
1-main.c
1-memcpy
100-main.c
100-set_string
2-main.c
2-strchr
3-main.c
3-strspn
4-main.c
4-strpbrk
5-main.c
5-strstr
7-main.c
7-print_chessboard
8-main.c
8-print_diagsums
